body{
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
    margin-left: 250px;
    
}
h1{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: large;
    margin-left: 50px;
}
.ptescap {
    font-variant: small-caps;
    font-size:small;
}
.fw-bot-center {
    margin-left: 200px;
}
.fw-bot-right {
    margin-left: 200px;

}
