body{
    font-family: 'Times New Roman', Times, serif;
    font-size:small;
}
h1{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
    font-size: large;
}
.ptescap {
    font-variant: small-caps;
    font-size:small;
}
div{
    .fw-bot-center{
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    .fw-bot-right{
        font-family: 'Courier New', Courier, monospace;
        text-align: right;
    }
}
